# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Schedule files
schedule.json
/schedules

# Production compose
docker-compose.*.yml
